In [1]:
#事前建立環境選python3.6
#安裝openpyxl、pandas(python裡面的Excel)
import openpyxl
import pandas as pd
import os
import datetime
#from IPython.display import display

In [2]:
excelname= "kd"
sheetname = "kd"

wb = openpyxl.load_workbook(str(excelname)+".xlsx")
ws = wb[str(sheetname)]

dataset = []

i = 1
while(ws.cell(row=i, column=1).value!=None):
    row = []
    j = 1
    while(j < 6):
        row.append(ws.cell(row=i, column=j).value)
        j = j +1
    dataset.append(row)
    i = i + 1
#pd.DataFrame(dataset).head(10)

In [3]:
trade=[]
trade =[[0 for x in range(17)] for y in range(len(dataset))]
trade[0][0] = "date"
trade[0][1] = "open"
trade[0][2] = "high"
trade[0][3] = "low"
trade[0][4] = "close"
trade[0][5] = "rsv"
trade[0][6] = "k"
trade[0][7] = "d"
trade[0][8] = "buy_day"
trade[0][9] = "cum_day"
trade[0][10] = "sell_day"
trade[0][11] = "number"
trade[0][12] = "value"
trade[0][13] = "period_return"
trade[0][14] = "closeprice"
trade[0][15] = "days held"
trade[0][16] = "Annualized Return"

In [4]:
from datetime import datetime
for i in range(1, len(trade)):
    for j in range(0, 5):
        if (j == 0):
            trade[i][j] = datetime.strptime(dataset[i][j], '%Y/%m/%d')
        elif (j == 4):
            trade[i][j] = dataset[i][j]
            trade[i][14] = dataset[i][j]
        else:
            trade[i][j] = dataset[i][j]
        j = j + 1
    i = i + 1

In [16]:
t = 9  #9天
k = 50
d = 50
trade[t][6] = k;
trade[t][7] = d;

while(t < len(trade)):
    low = []  #每次清空list
    high = []
    for i in range(0, 9):
        low.append(float(trade[t - i][3]))   #填充9天最低價
        high.append(float(trade[t - i][2]))  #填充9天最高價
    
    #RSV(t) = (今日收盤價 - 最近九日最低價)/ (最近九日最高價 - 最近九日最低價)*100
    trade[t][5] = (float(trade[t][4]) - min(low)) / (max(high)-min(low)) *100  #填入RSV
    
    t = t + 1
    
    #計算當天K值時必須前一天已經有參考值所以KD值計算放在這裡執行
    if(t < len(trade)): #因為會跨到隔天所以要先檢查會不會超出LIST範圍 
        k = trade[t-1][6] * 2/3 + trade[t][5] * 1/3  #K(t)= K(t-1)*2/3 + RSV(t)*1/3, t = 10, 11, ..., T
        d = trade[t-1][7] * 2/3 + trade[t][6] * 1/3  #D(t)= D(t-1)*2/3 + K(t)*1/3  , t = 10, 11, ..., T
        if (t<=10):
            print(trade[t-1][6] * 2/3 + trade[t][5] * 1/3)
        trade[t][6] = k
        trade[t][7] = d

52.47793618465713

In [17]:
# 買進-8  庫存-9  賣出-10
for i in range(9, len(trade)):
    
    if (trade[i][6] > trade[i][7]) and (trade[i-1][9] == 0):
        trade[i][8] = 1
        trade[i][9] = 1
                
    elif (trade[i][6] < trade[i][7]) and (trade[i-1][9] != 0):
        trade[i][9] = 0
        trade[i][10] = 1
       
    else:
        trade[i][9] = trade[i-1][9]

In [94]:
initial = 10000

for i in range(10, len(trade)):
    if(trade[i][8] == 1)and(trade[i][9]==1)and(trade[i][10] == 0): #買進時
        first_day = trade[i-1][0]
        trade[i][11] = initial/trade[i][14] #持股數
        trade[i][12] = trade[i][4] * trade[i][11] #現值
        trade[i][13] = round((trade[i][4] * trade[i][11] - initial)/initial, 4) #報酬
        trade[i][15] = (trade[i][0] - first_day).days #持有天數
       
        trade[i][16] = (1+trade[i][13])**(365/trade[i][15])-1
        
    elif(trade[i][8] == 0)and(trade[i][9]==0)and(trade[i][10] == 1): #賣出時
        trade[i][11] = 0
        trade[i][12] = trade[i-1][11] * trade[i][14]
        trade[i][13] = round((trade[i-1][11] * trade[i][14] - initial)/initial, 4)
        trade[i][15] = (trade[i][0] - first_day).days #持有天數
        trade[i][16] = (1+trade[i][13])**(365/trade[i][15])-1
        
    elif(trade[i][8] == 0)and(trade[i][9]==1)and(trade[i][10] == 0): #持有時
        trade[i][11] = trade[i-1][11]
        trade[i][12] = trade[i][11] * trade[i][14]
        trade[i][13] = round((trade[i][11] * trade[i][14] - initial)/initial, 4)
        trade[i][15] = (trade[i][0] - first_day).days #持有天數
        trade[i][16] = (1+trade[i][13])**(365/trade[i][15])-1
        
        
    else:
        trade[i][15] = (trade[i][0] - trade[i][0]).days

In [95]:
pd.DataFrame(trade)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,date,open,high,low,close,rsv,k,d,buy_day,cum_day,sell_day,number,value,period_return,closeprice,days held,Annualized Return
1,2003-06-30 00:00:00,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,37.08,0,0
2,2003-07-01 00:00:00,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,38.05,0,0
3,2003-07-02 00:00:00,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0,0,0,38.69,0,0
4,2003-07-03 00:00:00,40.6,40.6,38.81,39,0,0,0,0,0,0,0,0,0,39,0,0
5,2003-07-04 00:00:00,39.1,39.26,38.75,39.26,0,0,0,0,0,0,0,0,0,39.26,0,0
6,2003-07-07 00:00:00,39.6,41,39.6,41,0,0,0,0,0,0,0,0,0,41,0,0
7,2003-07-08 00:00:00,42,42,40.7,41.19,0,0,0,0,0,0,0,0,0,41.19,0,0
8,2003-07-09 00:00:00,41.3,41.3,40.81,41.22,0,0,0,0,0,0,0,0,0,41.22,0,0
9,2003-07-10 00:00:00,41.2,41.2,40.05,40.05,61.6142,50,50,0,0,0,0,0,0,40.05,0,0
10,2003-07-11 00:00:00,39.6,39.97,39.3,39.91,57.4338,52.4779,50.826,1,1,0,250.564,10000,0,39.91,1,0
11,2003-07-14 00:00:00,39.95,41,39.92,40.66,65.641,56.8656,52.8392,0,1,0,250.564,10187.9,0.0188,40.66,4,4.47161
12,2003-07-15 00:00:00,40.7,40.86,40.19,40.19,44.3077,52.6797,52.786,0,0,1,0,10070.2,0.007,40.19,5,0.663992
13,2003-07-16 00:00:00,40.5,40.98,40.24,40.85,64.6154,56.6582,54.0768,1,1,0,244.798,10000,0,40.85,1,0
14,2003-07-17 00:00:00,40.5,40.65,39.8,39.8,18.5185,43.945,50.6995,0,0,1,0,9742.96,-0.0257,39.8,2,-0.991362
15,2003-07-18 00:00:00,39.78,39.98,39.55,39.92,22.963,36.951,46.1167,0,0,0,250.564,1588.02,0.0003,39.92,0,0
16,2003-07-21 00:00:00,40,40.25,39.4,39.4,5,26.3007,39.5113,0,0,0,250.564,1576,-0.0128,39.4,0,0
17,2003-07-22 00:00:00,39.41,39.98,39.41,39.98,35.7895,29.4636,36.1621,0,0,0,250.564,1575.61,0.0018,39.98,0,0
18,2003-07-23 00:00:00,40.3,40.5,40,40.05,44.1176,34.3483,35.5575,0,0,0,250.564,1614.01,0.0035,40.05,0,0
19,2003-07-24 00:00:00,40.2,41.23,40.2,41.23,100,56.2322,42.449,1,1,0,242.542,10000,0,41.23,1,0
20,2003-07-25 00:00:00,41,41.34,40.85,41.23,94.3299,68.9314,51.2765,0,1,0,242.542,10000,0,41.23,2,0
21,2003-07-28 00:00:00,41.9,41.94,41.57,41.58,85.8268,74.5632,59.0387,0,1,0,242.542,10084.9,0.0085,41.58,5,0.854987
22,2003-07-29 00:00:00,41.54,41.54,40.83,41.02,63.7795,70.9686,63.0154,0,1,0,242.542,9949.07,-0.0051,41.02,6,-0.267318
23,2003-07-30 00:00:00,41,41.02,40.55,40.6,47.2441,63.0605,63.0304,0,1,0,242.542,9847.2,-0.0153,40.6,7,-0.552443
24,2003-07-31 00:00:00,40.66,41,40.44,40.87,57.874,61.3316,62.4642,0,0,1,0,9912.68,-0.0087,40.87,8,-0.328791
25,2003-08-01 00:00:00,41.28,41.6,41.05,41.6,86.5613,69.7415,64.8899,1,1,0,240.385,10000,0,41.6,1,0
26,2003-08-04 00:00:00,41.47,41.55,41.21,41.4,72.1649,70.5493,66.7764,0,1,0,240.385,9951.92,-0.0048,41.4,4,-0.355354
27,2003-08-05 00:00:00,41.5,41.61,40.5,40.5,17.2414,52.78,62.1109,0,0,1,0,9735.58,-0.0264,40.5,5,-0.858166
28,2003-08-06 00:00:00,40.2,40.3,40.06,40.23,9.04255,38.2009,54.1409,0,0,0,250.564,1617.25,0.008,40.23,0,0
29,2003-08-07 00:00:00,40.35,40.77,39.97,40.7,37.0558,37.8192,48.7003,0,0,0,250.564,1642.25,0.0198,40.7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3398,2017-03-15 00:00:00,72.8,73,72.6,72.85,83.871,61.9158,43.7229,0,1,0,137.931,10048.3,0.0048,72.85,5,0.418446
3399,2017-03-16 00:00:00,73.3,73.85,73.3,73.8,97.8261,73.8859,53.7773,0,1,0,137.931,10179.3,0.0179,73.8,6,1.94258
3400,2017-03-17 00:00:00,73.85,74.1,73.75,74,96.0784,81.2834,62.946,0,1,0,137.931,10206.9,0.0207,74,7,1.91054
3401,2017-03-20 00:00:00,73.95,74.15,73.85,73.95,92.3077,84.9582,70.2834,0,1,0,137.931,10200,0.02,73.95,10,1.06019
3402,2017-03-21 00:00:00,74.3,74.9,74.3,74.9,100,89.9721,76.8463,0,1,0,137.931,10331,0.0331,74.9,11,1.94625
3403,2017-03-22 00:00:00,74.25,74.25,74,74.2,79.1045,86.3496,80.0141,0,1,0,137.931,10234.5,0.0234,74.2,12,1.02091
3404,2017-03-23 00:00:00,74.6,74.65,74.15,74.35,80,84.233,81.4204,0,1,0,137.931,10255.2,0.0255,74.35,13,1.02787
3405,2017-03-24 00:00:00,74.35,74.4,74.1,74.25,71.7391,80.0684,80.9697,0,0,1,0,10241.4,0.0241,74.25,14,0.860545
3406,2017-03-27 00:00:00,74,74.4,73.85,74.2,69.5652,76.5673,79.5023,0,0,0,250.564,5490.8,0.8592,74.2,0,0
3407,2017-03-28 00:00:00,74.55,74.6,73.95,74.25,59.375,70.8366,76.6137,0,0,0,250.564,5535.34,0.8604,74.25,0,0
3408,2017-03-29 00:00:00,74.45,74.5,74,74,21.7391,54.4708,69.2327,0,0,0,250.564,5509.3,0.8542,74,0,0
3409,2017-03-30 00:00:00,74,74.25,73.9,73.9,4.7619,37.9011,58.7889,0,0,0,250.564,5468.6,0.8517,73.9,0,0
3410,2017-03-31 00:00:00,73.95,74.1,73.7,73.7,0,25.2674,47.615,0,0,0,250.564,5450.12,0.8467,73.7,0,0
3411,2017-04-05 00:00:00,73.95,74.8,73.95,74.65,86.3636,45.6328,46.9543,0,0,0,250.564,5520.37,0.8705,74.65,0,0
3412,2017-04-06 00:00:00,74.8,74.8,74.3,74.4,63.6364,51.634,48.5142,1,1,0,134.409,10000,0,74.4,1,0
3413,2017-04-07 00:00:00,74.3,74.3,73.4,74.1,50,51.0893,49.3726,0,1,0,134.409,9959.68,-0.004,74.1,2,-0.518796
3414,2017-04-10 00:00:00,74.1,74.25,74,74.2,57.1429,53.1072,50.6174,0,1,0,134.409,9973.12,-0.0027,74.2,5,-0.17911
3415,2017-04-11 00:00:00,74.1,74.4,73.75,73.9,35.7143,47.3095,49.5148,0,0,1,0,9932.8,-0.0067,73.9,6,-0.335656
3416,2017-04-12 00:00:00,73.9,74.1,73.65,74.05,46.4286,47.0159,48.6818,0,0,0,250.564,5472.3,0.8554,74.05,0,0
3417,2017-04-13 00:00:00,73.9,74.45,73.9,74.4,71.4286,55.1534,50.839,1,1,0,134.409,10000,0,74.4,1,0
3418,2017-04-14 00:00:00,73.9,73.9,73.5,73.55,10.7143,40.3404,47.3395,0,0,1,0,9885.75,-0.0114,73.55,2,-0.876615
3419,2017-04-17 00:00:00,73.55,73.8,73.35,73.6,17.2414,32.6407,42.4399,0,0,0,250.564,5413.28,0.8441,73.6,0,0
3420,2017-04-18 00:00:00,73.85,74,73.5,73.6,17.2414,27.5076,37.4625,0,0,0,250.564,5435.36,0.8441,73.6,0,0
3421,2017-04-19 00:00:00,73.1,73.25,72.65,72.8,8.33333,21.1162,32.0137,0,0,0,250.564,5321.68,0.8241,72.8,0,0
3422,2017-04-20 00:00:00,72.55,72.9,72.5,72.8,15.3846,19.2057,27.7444,0,0,0,250.564,5281.64,0.8241,72.8,0,0
3423,2017-04-21 00:00:00,73.25,73.5,73.1,73.5,51.2821,29.8978,28.4622,1,1,0,136.054,10000,0,73.5,1,0
3424,2017-04-24 00:00:00,73.9,73.95,73.45,73.65,58.9744,39.59,32.1714,0,1,0,136.054,10020.4,0.002,73.65,4,0.199995
3425,2017-04-25 00:00:00,73.85,74.4,73.7,74.35,94.8718,58.0173,40.7867,0,1,0,136.054,10115.6,0.0116,74.35,5,1.32083
3426,2017-04-26 00:00:00,74.7,74.7,74.4,74.55,93.1818,69.7388,50.4374,0,1,0,136.054,10142.9,0.0143,74.55,6,1.37205
3427,2017-04-27 00:00:00,74.35,74.5,74.15,74.5,90.9091,76.7955,59.2234,0,1,0,136.054,10136.1,0.0136,74.5,7,1.02256