In [1]:
import openpyxl
import pandas as pd
import os
import datetime
import copy
#from IPython.display import display

In [2]:
excelname= "Aroon Oscillator_test"
sheetname = "Aroon Oscillator"

wb = openpyxl.load_workbook(str(excelname)+".xlsx")
ws = wb[str(sheetname)]

dataset = []

i = 1
while(ws.cell(row=i, column=1).value!=None):
    row = []
    row.append(ws.cell(row=i, column=1).value)
    row.append(ws.cell(row=i, column=2).value)
    row.append(ws.cell(row=i, column=3).value)
    row.append(ws.cell(row=i, column=4).value)
    row.append(ws.cell(row=i, column=5).value)
    
    dataset.append(row)
    i = i + 1
pd.DataFrame(dataset).head()

            0      1      2      3      4
0        date   open   high    low  close
1  2003/06/30   37.1   37.4  36.92  37.08
2  2003/07/01  37.09   38.1  37.09  38.05
3  2003/07/02  38.17  38.82   38.1  38.69
4  2003/07/03   40.6   40.6  38.81     39

In [3]:
trade = copy.deepcopy(dataset)
from datetime import datetime
for i in range(0, len(dataset)):
    for j in range(5, 16):
        if (i != 0):
            trade[i][0] = datetime.strptime(dataset[i][0], '%Y/%m/%d').date()
        trade[i].append(0)

#trade[0][1] = "open"
#trade[0][2] = "high"
#trade[0][3] = "low"
#trade[0][4] = "close"
trade[0][5] = "Aroon-Up"
trade[0][6] = "Aroon-Down"
trade[0][7] = "Aroon Oscillator"
trade[0][8] = "buy"
trade[0][9] = "hold"
trade[0][10] = "sell"
trade[0][11] = "number"
trade[0][12] = "value"
trade[0][13] = "period_return"
trade[0][14] = "holding days"
trade[0][15] = "annual return"

pd.DataFrame(trade).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon-Up,Aroon-Down,Aroon Oscillator,buy,hold,sell,number,value,period_return,holding days,annual return
1,2003-06-30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003-07-01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003-07-02,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0,0,0,0,0
4,2003-07-03,40.6,40.6,38.81,39,0,0,0,0,0,0,0,0,0,0,0

In [4]:
cycle = 25  #9天
cycle_index = 25

while(cycle_index < len(trade)):
    low = []  #每次清空list
    high = []
    for i in range(cycle, 0, -1):
        low.append(trade[cycle_index - i + 1][3])   #填充9天最低價
        high.append(trade[cycle_index - i + 1][2])  #填充9天最高價
        
    #計算當天K值時必須前一天已經有參考值所以KD值計算放在這裡執行
    if(cycle_index < len(trade)): #因為會跨到隔天所以要先檢查會不會超出LIST範圍 
        AroonUp = 100 * (cycle - (cycle-(high.index(max(high))+1))) / 25 #100 x (25 - Days Since 25-day High)/25
        AroonDown = 100 * (cycle - (cycle-(low.index(min(low))+1))) / 25 #100 x (25 - Days Since 25-day Low)/25
               
#         if(cycle_index == 25):
#             print(cycle)
#             print(high.index(max(high))+1)
#             print(cycle-(high.index(max(high))+1))
#             print(cycle - (cycle-(high.index(max(high))+1)))
        
        trade[cycle_index][5] = AroonUp
        trade[cycle_index][6] = AroonDown
        trade[cycle_index][7] = AroonUp - AroonDown
        
    cycle_index = cycle_index + 1
pd.DataFrame(trade).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon-Up,Aroon-Down,Aroon Oscillator,buy,hold,sell,number,value,period_return,holding days,annual return
1,2003-06-30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003-07-01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003-07-02,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0,0,0,0,0
4,2003-07-03,40.6,40.6,38.81,39,0,0,0,0,0,0,0,0,0,0,0

In [5]:
for i in range(cycle, len(trade)):
    if(trade[i][7] > 0)and(trade[i-1][9]==0):
        trade[i][8] = 1
        trade[i][9] = 1
        trade[i][10] = 0
        
    elif(trade[i][7] < 0)and(trade[i-1][9]==1):
        trade[i][8] = 0
        trade[i][9] = 0
        trade[i][10] = 1
        
    elif(trade[i-1][9]>0):
        trade[i][8]  = 0
        trade[i][9]  = 1
        trade[i][10] = 0

pd.DataFrame(trade).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon-Up,Aroon-Down,Aroon Oscillator,buy,hold,sell,number,value,period_return,holding days,annual return
1,2003-06-30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003-07-01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003-07-02,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0,0,0,0,0
4,2003-07-03,40.6,40.6,38.81,39,0,0,0,0,0,0,0,0,0,0,0

In [19]:
initial = 10000
for i in range(cycle, len(trade)):
    if(trade[i][8] == 1)and(trade[i][9]==1)and(trade[i][10] == 0):
        first_day = trade[i][0]
        trade[i][11] = initial/trade[i][1] #數量
        trade[i][12] = trade[i][4] * trade[i][11] #現值
        trade[i][13] = round((trade[i][4] * trade[i][11] - initial)/initial, 4) #期間報酬
        trade[i][14] = (trade[i][0] - first_day).days + 1 #持有天數
        trade[i][15] = (1+trade[i][13])**(365/trade[i][14])-1
        
    elif(trade[i][8] == 0)and(trade[i][9]==0)and(trade[i][10] == 1):
        trade[i][11] = 0
        trade[i][12] = trade[i-1][11] * trade[i][4]
        trade[i][13] = round((trade[i-1][11] * trade[i][4] - initial)/initial, 4)
        trade[i][14] = (trade[i][0] - first_day).days + 1#持有天數
        trade[i][15] = (1+trade[i][13])**(365/trade[i][14])-1
        
    elif(trade[i][8] == 0)and(trade[i][9]==1)and(trade[i][10] == 0):
        trade[i][11] = trade[i-1][11]
        trade[i][12] = trade[i][1] * trade[i][6]
        trade[i][13] = round((trade[i][4] * trade[i][11] - initial)/initial, 4)
        trade[i][14] = (trade[i][0] - first_day).days + 1 #持有天數
        trade[i][15] = (1+trade[i][13])**(365/trade[i][14])-1
        
    else:
        trade[i][14] = (trade[i][0] - trade[i][0]).days
        
pd.DataFrame(trade).tail(50)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
3378,2017-02-14,73.4,73.5,73.1,73.2,68,84,-16,0,0,0,0,0,0,0,0
3379,2017-02-15,73.3,73.9,73.2,73.9,100,80,20,1,1,0,136.426,10081.9,0.0082,1,18.7035
3380,2017-02-16,74,74.2,73.35,73.45,100,76,24,0,1,0,136.426,5624,0.002,2,0.439989
3381,2017-02-17,73.65,73.7,73.35,73.35,96,72,24,0,1,0,136.426,5302.8,0.0007,3,0.0888661
3382,2017-02-18,73.3,73.55,73.2,73.5,92,68,24,0,1,0,136.426,4984.4,0.0027,4,0.278955
3383,2017-02-20,73.55,73.65,73.1,73.1,88,64,24,0,1,0,136.426,4707.2,-0.0027,6,-0.151659
3384,2017-02-21,73.2,73.4,73.05,73.25,84,60,24,0,1,0,136.426,4392,-0.0007,7,-0.0358542
3385,2017-02-22,73.6,73.7,73.15,73.3,80,56,24,0,1,0,136.426,4121.6,-0,8,0
3386,2017-02-23,73.25,73.55,73.1,73.1,76,52,24,0,1,0,136.426,3809,-0.0027,9,-0.103851
3387,2017-02-24,73.05,73.3,72.85,73.15,72,48,24,0,1,0,136.426,3506.4,-0.002,10,-0.0704671
3388,2017-03-01,73.1,73.1,72.35,72.35,68,44,24,0,1,0,136.426,3216.4,-0.013,15,-0.272694
3389,2017-03-02,72.95,73.25,72.25,72.55,64,40,24,0,1,0,136.426,2918,-0.0102,16,-0.208545
3390,2017-03-03,72.3,72.35,72,72.1,60,36,24,0,1,0,136.426,2602.8,-0.0164,17,-0.298852
3391,2017-03-06,72.05,72.25,72,72.15,56,32,24,0,1,0,136.426,2305.6,-0.0157,20,-0.250837
3392,2017-03-07,72.25,72.6,72.25,72.45,52,28,24,0,1,0,136.426,2023,-0.0116,21,-0.183556
3393,2017-03-08,72.65,72.85,72.45,72.85,48,24,24,0,1,0,136.426,1743.6,-0.0061,22,-0.0965319
3394,2017-03-09,72.6,72.6,71.95,72.05,44,20,24,0,1,0,136.426,1452,-0.0171,23,-0.239452
3395,2017-03-10,71.95,72.05,71.55,72,40,16,24,0,1,0,136.426,1151.2,-0.0177,24,-0.23784
3396,2017-03-13,72.15,72.5,72.15,72.5,36,12,24,0,1,0,136.426,865.8,-0.0109,27,-0.137708
3397,2017-03-14,72.6,73.1,72.6,73,32,8,24,0,1,0,136.426,580.8,-0.0041,28,-0.0521474
3398,2017-03-15,72.8,73,72.6,72.85,28,4,24,0,1,0,136.426,291.2,-0.0061,29,-0.0741203
3399,2017-03-16,73.3,73.85,73.3,73.8,24,84,-60,0,0,1,0,10068.2,0.0068,30,0.085948
3400,2017-03-17,73.85,74.1,73.75,74,20,80,-60,0,0,0,0,0,0,0,0
3401,2017-03-20,73.95,74.15,73.85,73.95,16,76,-60,0,0,0,0,0,0,0,0
3402,2017-03-21,74.3,74.9,74.3,74.9,100,72,28,1,1,0,134.59,10080.8,0.0081,1,18.0029
3403,2017-03-22,74.25,74.25,74,74.2,96,68,28,0,1,0,134.59,5049,-0.0013,2,-0.211328
3404,2017-03-23,74.6,74.65,74.15,74.35,92,64,28,0,1,0,134.59,4774.4,0.0007,3,0.0888661
3405,2017-03-24,74.35,74.4,74.1,74.25,88,60,28,0,1,0,134.59,4461,-0.0007,4,-0.0618987
3406,2017-03-27,74,74.4,73.85,74.2,84,56,28,0,1,0,134.59,4144,-0.0013,7,-0.0655805
3407,2017-03-28,74.55,74.6,73.95,74.25,80,52,28,0,1,0,134.59,3876.6,-0.0007,8,-0.0314437
3408,2017-03-29,74.45,74.5,74,74,76,48,28,0,1,0,134.59,3573.6,-0.004,9,-0.150024
3409,2017-03-30,74,74.25,73.9,73.9,72,44,28,0,1,0,134.59,3256,-0.0054,10,-0.17933
3410,2017-03-31,73.95,74.1,73.7,73.7,68,40,28,0,1,0,134.59,2958,-0.0081,11,-0.236519
3411,2017-04-05,73.95,74.8,73.95,74.65,64,36,28,0,1,0,134.59,2662.2,0.0047,16,0.112898
3412,2017-04-06,74.8,74.8,74.3,74.4,60,32,28,0,1,0,134.59,2393.6,0.0013,17,0.0282863
3413,2017-04-07,74.3,74.3,73.4,74.1,56,28,28,0,1,0,134.59,2080.4,-0.0027,18,-0.0533483
3414,2017-04-10,74.1,74.25,74,74.2,52,24,28,0,1,0,134.59,1778.4,-0.0013,21,-0.0223562
3415,2017-04-11,74.1,74.4,73.75,73.9,48,20,28,0,1,0,134.59,1482,-0.0054,22,-0.0859168
3416,2017-04-12,73.9,74.1,73.65,74.05,44,16,28,0,1,0,134.59,1182.4,-0.0034,23,-0.0526138
3417,2017-04-13,73.9,74.45,73.9,74.4,40,12,28,0,1,0,134.59,886.8,0.0013,24,0.0199545
3418,2017-04-14,73.9,73.9,73.5,73.55,36,8,28,0,1,0,134.59,591.2,-0.0101,25,-0.13775
3419,2017-04-17,73.55,73.8,73.35,73.6,32,4,28,0,1,0,134.59,294.2,-0.0094,28,-0.115838
3420,2017-04-18,73.85,74,73.5,73.6,28,4,24,0,1,0,134.59,295.4,-0.0094,29,-0.112077
3421,2017-04-19,73.1,73.25,72.65,72.8,24,4,20,0,1,0,134.59,292.4,-0.0202,30,-0.219861
3422,2017-04-20,72.55,72.9,72.5,72.8,20,100,-80,0,0,1,0,9798.12,-0.0202,31,-0.213587
3423,2017-04-21,73.25,73.5,73.1,73.5,16,96,-80,0,0,0,0,0,0,0,0
3424,2017-04-24,73.9,73.95,73.45,73.65,12,92,-80,0,0,0,0,0,0,0,0
3425,2017-04-25,73.85,74.4,73.7,74.35,8,88,-80,0,0,0,0,0,0,0,0
3426,2017-04-26,74.7,74.7,74.4,74.55,4,84,-80,0,0,0,0,0,0,0,0
3427,2017-04-27,74.35,74.5,74.15,74.5,36,80,-44,0,0,0,0,0,0,0,0

In [7]:
def hyper(dataset, cycle):
    trade = copy.deepcopy(dataset)
    from datetime import datetime
    for i in range(0, len(dataset)):
        for j in range(5, 16):
            if (i != 0):
                trade[i][0] = datetime.strptime(dataset[i][0], '%Y/%m/%d').date()
            trade[i].append(0)

    #trade[0][1] = "open"
    #trade[0][2] = "high"
    #trade[0][3] = "low"
    #trade[0][4] = "close"
    trade[0][5] = "Aroon-Up"
    trade[0][6] = "Aroon-Down"
    trade[0][7] = "Aroon Oscillator"
    trade[0][8] = "buy"
    trade[0][9] = "hold"
    trade[0][10] = "sell"
    trade[0][11] = "number"
    trade[0][12] = "value"
    trade[0][13] = "period_return"
    trade[0][14] = "holding days"
    trade[0][15] = "annual return"


#     cycle = 25  #9天
    cycle_index = cycle

    while(cycle_index < len(trade)):
        low = []  #每次清空list
        high = []
        for i in range(cycle, 0, -1):
            low.append(trade[cycle_index - i + 1][3])   #填充9天最低價
            high.append(trade[cycle_index - i + 1][2])  #填充9天最高價

        #計算當天K值時必須前一天已經有參考值所以KD值計算放在這裡執行
        if(cycle_index < len(trade)): #因為會跨到隔天所以要先檢查會不會超出LIST範圍 
            AroonUp = 100 * (cycle - (cycle-(high.index(max(high))+1))) / cycle #100 x (25 - Days Since 25-day High)/25
            AroonDown = 100 * (cycle - (cycle-(low.index(min(low))+1))) / 25 #100 x (25 - Days Since 25-day Low)/25

    #         if(cycle_index == 25):
    #             print(cycle)
    #             print(high.index(max(high))+1)
    #             print(cycle-(high.index(max(high))+1))
    #             print(cycle - (cycle-(high.index(max(high))+1)))

            trade[cycle_index][5] = AroonUp
            trade[cycle_index][6] = AroonDown
            trade[cycle_index][7] = AroonUp - AroonDown

        cycle_index = cycle_index + 1

    for i in range(cycle, len(trade)):
        if(trade[i][7] > 0)and(trade[i-1][9]==0):
            trade[i][8] = 1
            trade[i][9] = 1
            trade[i][10] = 0

        elif(trade[i][7] < 0)and(trade[i-1][9]==1):
            trade[i][8] = 0
            trade[i][9] = 0
            trade[i][10] = 1

        elif(trade[i-1][9]>0):
            trade[i][8]  = 0
            trade[i][9]  = 1
            trade[i][10] = 0

    initial = 10000
    for i in range(cycle, len(trade)):
        if(trade[i][8] == 1)and(trade[i][9]==1)and(trade[i][10] == 0):
            first_day = trade[i][0]
            trade[i][11] = initial/trade[i][1]
            trade[i][12] = trade[i][4] * trade[i][11]
            trade[i][13] = round((trade[i][4] * trade[i][11] - initial)/initial, 4)   
            trade[i][14] = (trade[i][0] - first_day).days + 1 #持有天數
            trade[i][15] = (1+trade[i][13])**(365/trade[i][14])-1

        elif(trade[i][8] == 0)and(trade[i][9]==0)and(trade[i][10] == 1):
            trade[i][11] = 0
            trade[i][12] = trade[i-1][11] * trade[i][4]
            trade[i][13] = round((trade[i-1][11] * trade[i][4] - initial)/initial, 4)
            trade[i][14] = (trade[i][0] - first_day).days + 1#持有天數
            trade[i][15] = (1+trade[i][13])**(365/trade[i][14])-1

        elif(trade[i][8] == 0)and(trade[i][9]==1)and(trade[i][10] == 0):
            trade[i][11] = trade[i-1][6]
            trade[i][12] = trade[i][1] * trade[i][6]
            trade[i][13] = round((trade[i][4] * trade[i][11] - initial)/initial, 4)
            trade[i][14] = (trade[i][0] - first_day).days + 1 #持有天數
            trade[i][15] = (1+trade[i][13])**(365/trade[i][14])-1

        else:
            trade[i][14] = (trade[i][0] - trade[i][0]).days
            
    annual_return = 1
    trading_counts = 0

    for i in range(1, len(trade)):
        if(trade[i][10]==1):
            annual_return = annual_return * (1+trade[i][13])
            trading_counts = trading_counts + 1
    #     print(annual_return)
    #     print(trading_counts)
    final_return = annual_return**(1/trading_counts)-1
    #     print(final_return)
    return final_return

In [14]:
hyper(dataset, 30)

-0.9651352624769644

In [20]:
for i in range(25, 50, 2):
    print("Thin final annual return of Aroon Oscillator" + str(i)+" is:" + str(hyper(dataset, i)))

Thin final annual return of Aroon Oscillator25 is:-0.9600391578826253
Thin final annual return of Aroon Oscillator27 is:-0.9621327022029132
Thin final annual return of Aroon Oscillator29 is:-0.9589007314510958
Thin final annual return of Aroon Oscillator31 is:-0.9660098740224252
Thin final annual return of Aroon Oscillator33 is:-0.9626600072943456
Thin final annual return of Aroon Oscillator35 is:-0.9619750154045241
Thin final annual return of Aroon Oscillator37 is:-0.9570886008276869
Thin final annual return of Aroon Oscillator39 is:-0.9588216650692196
Thin final annual return of Aroon Oscillator41 is:-0.9573590634276803
Thin final annual return of Aroon Oscillator43 is:-0.9633461375490349
Thin final annual return of Aroon Oscillator45 is:-0.9661264964241025
Thin final annual return of Aroon Oscillator47 is:-0.9639022660495202
Thin final annual return of Aroon Oscillator49 is:-0.9630757849560374